# APP
NODE_ENV=development
PORT=8000
LOG_LEVEL=fatal
FRONTEND_URL=http://localhost:5173

# DB
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# JWT
JWT_ACCESS_SECRET=access-secret
JWT_ACCESS_EXPIRY=30m
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRY=30d
JWT_2FA_SECRET=2fa-secret
JWT_2FA_EXPIRY=5m

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# REDIS
REDIS_URL=redis://localhost:6379